@model IEnumerable<MVCAssessmentQuestion2.Models.Movie>

@{
    ViewBag.Title = "YearMovieResult";
}

<h2>YearMovieResult</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Moviename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateofRelease)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Moviename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateofRelease)
        </td>
       
    </tr>
}

</table>
